version: '3.9'

services:
  postgres:
    image: postgres:13-bullseye
    restart: always
    pull_policy: always
    ports:
      - 5432:5432
    volumes:
      - pgdata:/var/lib/postgresql/data 
    environment:
      POSTGRES_PASSWORD: ${db_password}
      POSTGRES_USER: ${db_user}
      POSTGRES_DB: ${db_database}

volumes:
  pgdata: 
