anyio==3.6.2
asgiref==3.4.1
certifi==2024.2.2
charset-normalizer==2.0.12
click==8.0.4
contextlib2==21.6.0
contextvars==2.4
dataclasses==0.8
docopt==0.6.2
fastapi==0.83.0
h11==0.13.0
idna==3.7
immutables==0.19
importlib-metadata==4.8.3
pep517==0.13.1
pip-tools==6.4.0
pipreqs==0.4.11
pydantic==1.9.2
requests==2.27.1
sniffio==1.2.0
starlette==0.19.1
tomli==1.2.3
typing_extensions==4.1.1
urllib3==1.26.18
uvicorn==0.16.0
yarg==0.1.9
zipp==3.6.0
