alembic==1.13.1
APScheduler==3.10.4
asyncpg==0.29.0
bcrypt==4.1.2
fastapi==0.111.0
fastapi-users==13.0.0
fastapi-users-db-sqlalchemy==6.0.1
httpx~=0.27.0
pydantic==2.7.3
pydantic_core==2.18.4
python-dotenv==1.0.1
python-jose==3.3.0
SQLAlchemy==2.0.30
time-machine==2.15.0
uvicorn==0.30.1