# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: To-do application

on:
  push:
    branches: [ "main", "daily_reminders" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  test-lint:

    runs-on: ubuntu-latest

    services:
      test_db:
        image: postgres:13-bullseye
        env:
          POSTGRES_USER: test_user
          POSTGRES_PASSWORD: test_password
          POSTGRES_DB: test_db
          PGPORT: 5433
        options: >- 
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
          --name pg_test_db
        ports:
          - 5433:5433

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"
    - name: Install Poetry
      uses: abatilo/actions-poetry@v2
      with:
          poetry-version: "latest"
    - name: Install Dependencies      
      run: |
        cd todo-list-app/
        poetry shell
        poetry install
    - name: Lint with pylint
      run: poetry run pylint *.py **/*.py
      
    - name: Ensuring the db is ready
      run: |
        for i in {1..10}; do
          if docker exec -it pg_test_db pg_isready; thenc
            echo "Database is ready!"
            break
          fi
          echo "Waiting for database to be ready..."
          sleep 3
        done
        
    - name: Running alembic migrations
      run: alembic upgrade head 
    - name: Test with pytest
      run: poetry run pytest -v
        
